*{padding: 0; margin: 0; box-sizing: border-box;}
.flex{display: flex;}

/* HEADER */
.orange-box{background-color: rgb(255, 94, 0);width:100%;}
.contenitore-header{justify-content: space-between;width:1000px;margin:0 auto;}
.contenitore-header div{width:33%}
.header-sex li{color: white; list-style: none;padding: 1rem;}
a:hover{background-color: rgba(255, 255, 0, 0.336);padding:1rem;}
.contenitore-header img{height: 30px;margin:auto;justify-content: center;}

/* MAIN */
.contenitore{width: 1000px;margin:30px auto 0;flex-wrap: wrap;gap:10px;}
.contenitore-cards{width: 32.6%;}
.item{height: 100%;position: relative;}
.img-size img{width: 100%;}
.colore-rosso{color: red;padding-right: 4px;}
.prezzo-vecchio{text-decoration:line-through;}
.sconto{width: 40px;background-color: red;font-size: 10px;color: white;text-align: center;padding: 3px;}
.sostenib{width: 80px;background-color: green;font-size: 10px;color: white;text-align: center;padding: 3px;}
.flex-space{gap: 2px;position: absolute;bottom: 0;leftt: 0;margin-bottom: 85px;}
.heart{position: absolute;top:0;right:0;margin-top:10px;}
.heart i{height:30px;width:30px;background-color: white;padding:7px}
.heart:hover{color:red}
